{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Dogs, Inc.</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light list-unstyled">
        <a class="navbar-brand" href="{% url 'products:home' %}">Dogs, Inc.</a>
        <li class="nav-item active">
            <a class="nav-link disabled" href="{% url 'products:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products:cart-home' %}">Cart</a>
        </li>
    </nav>
    <div class="container">
        <div class="row">
            {% for product in object_list %}
            <div class="col-md-4 col-lg-4 col-sm-3 col-xs-1">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{% get_static_prefix %}{{product.img}}" style="width:100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.desc}}</p>
                                <p class="card-text"><small class="text-muted">€{{product.price}}</small></p>
                            </div>
                            <div class='card-footer text-center'>
                                <a href="cart/{{product.slug}}" class="btn btn-outline-dark">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>