.leaderboard 
{
  position: absolute;
  left: 330px;
  width: 325px;
  height: 0px;
  font-family: 'Calibri';
  color: #fff;
}

.leaderboard h1 
{
  position: relative;
  width: 100%;
  font-family: Calibri;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;   
  padding-top: 120px;
  padding-left: 32px;
}

.leaderboard abutton { 
  position: absolute;
  top: 10px;
  left: 10px; 
  background: transparent;
  border: none !important;
  color: white;
  text-align: center;
  font-size: 32px;
  width: 30px;
}

.leaderboard ol li 
{
  width: 100%;
  height: 20px;
  background-color: #333333;
  list-style-type: none;
  padding: 8px 16px;
  border-bottom: 1px solid #2d2d2d;
}

.leaderboard ol li:last-child {
  border-bottom: none
}

.leaderboard ol li num 
{
  position: absolute;
  font-family: Calibri;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.leaderboard ol li name 
{
  position: absolute;
  padding-left: 50px;
  font-family: Calibri;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: left;
  color: #ffffff;
}

.leaderboard ol li score 
{
    position: absolute;
    width: 90%;
    font-family: Calibri;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: right;
    color: #ffffff;
}

.closebtn 
{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover 
{
    color: black;
}