html, body {
    height: 100%;
    margin: 0px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ddd;
  }
  
  .content {
    display: block;
    overflow: auto;
    max-width: 960px;
    min-height: 98%;
    margin: auto;
    background: white;
    padding: 10px;
    background: #bbd;
  }
  
  h1, p {
    color: #000;
    text-align: center;
  }

  .flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .containerelement {
    width: 19%;
    text-align: center;
    color: white;
    transition: transform .2s;
  }
  
  .containerelement:hover {
    transform: scale(1.05);
  }

  .fleximage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;
    max-height: 140px; 
  }


  @media screen and (max-width: 875px) {
    .containerelement {
      width: 24%;
    }
    .fleximage {
      max-width: 140px;
      max-height: 140px; 
    }    
  }
  
  @media screen and (max-width: 720px) {
    .containerelement {
      width: 32%;
    }
    .fleximage {
      max-width: 145px;
      max-height: 145px; 
    }    
  }
  
  @media screen and (max-width: 575px) {
    .containerelement {
      width: 49%;
    }
    .fleximage {
      max-width: 170px;
      max-height: 170px; 
    }  
  }
  
  @media screen and (max-width: 420px) {
    .containerelement {
      width: 99%;
    }
    .fleximage {
      max-width: 250px;
      max-height: 250px; 
    }  
  }