body {
    font-size: 16px;
}

.content {
    margin: auto;
}

.menu-page {}

.menu-page h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 5em;
}

.menu-page p {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 2em;
}

.menu-page button {
    background-color: #ffffff;
    border: solid;
    color: #000000;
    width: 8em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: 0 auto;
    margin-bottom: 1em;
}