<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dogs, Inc.</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light list-unstyled">
        <a class="navbar-brand" href="{% url 'products:home' %}">Dogs, Inc.</a>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'products:home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'products:cart-home' %}">Cart</a>
        </li>
    </nav>
    <div class="container">
        <h2>Your Cart</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in carts %}
                <tr>
                    <td>
                        {{ cart.product.name }}
                    </td>
                    <td>
                        {{ cart.quantity }}
                    </td>
                    <td>
                        €{{ cart.sum | floatformat:2 }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td colspan="1">Total</td>
                    <td>€{{ order.sum | floatformat:2 }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="3" class="text-right ">
                        <a href="{% url 'products:home' %}" class="btn btn-outline-dark">Home</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>