{% load static %}
<h1>Lyra's Activities</h1>

<div class="row">
    {% for activity in activities %}
    <div>
        <img src="{% static activity.image %}" style="width:400px;">
        <h3>{{ activity.name }}</h3>
        <p>{{ activity.about }}</p>
    </div>
    <br><br>
    {% endfor %}
</div>