.flashcard-page {
}

.flashcard-page h1 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 5em;
}

.flashcard-page h2 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 3.5em;
}

.flashcard-page h3 {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 2.5em;
}

.flashcard-page p {
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 2em;
}

.flashcard-page button {
    background-color: #ffffff;
    border: solid;
    color: #000000;
    width: 15em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.flashcard-page ul {
    list-style-type: none;
}

#flashcard_curr {
    position: fixed;
    width: 100%;
    top: 0px;
}

#flashcard_next {
    position: fixed;
    width: 100%;
    top: 0px;
}

.buttons {
    position: fixed;
    bottom: 3em;
    text-align: center;
    width: 100%;
}

.buttons button {
    background-color: #ffffff;
    border: solid;
    color: #000000;
    width: 3em;
    height: 2em;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}