{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <title>Hello!</title>
</head>

<body>
    <div class="content">
        <h1>Gallery</h1>
        <p>Enjoy some pictures of my dog. This page is responsive and scales for mobile devices.</p>
        <div class="flexcontainer">
            <div class="containerelement">
                <img src="{% static '1.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '2.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '3.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '4.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '5.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '6.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '7.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '8.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '9.jpeg' %}" class="fleximage">
            </div>
            <div class="containerelement">
                <img src="{% static '10.jpeg' %}" class="fleximage">
            </div>
        </div>
    </div>
</body>

</html>